/build
/release

# Ignore APKs
*.apk
*.ap_
*.aab
*.aar
/app/release/
/app/debug/

# Ignore keystore files
*.jks
*.keystore
*.pem
*.p12

# Local configuration files
local.properties
.DS_Store
.navigation/
captures/

# Android Studio
.gradle
.idea
*.iml

# Logs
*.log